<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StrongMind Interview</title>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="/css/index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
    <a type="button" class="btn btn-dark" href="/">Home</a>
    <a type="button" class="btn btn-dark" href="/toppings">Store Owner</a>
    <h1 class="d-flex justify-content-center mt-4 mb-3">Create Pizzas</h1>
    <div class="form-container d-flex justify-content-center mt-3">
        <form action="/pizzas" method="POST" class="form-group">
            <input type="text" name="name">
            <% if(toppings) { %>
                <% toppings.forEach(toppingValue => { %>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="<%= toppingValue.name %>" value="<%= toppingValue.name %>"  id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                        <%= toppingValue.name %>
                        </label>
                    </div>
                <% }) %> 
            <% } %>
            <button type="submit">Submit</button>
        </form>
    </div>
    <h2 class="d-flex justify-content-center mt-3">Pizzas</h2>

    <% if(pizzas) { %>
        <% pizzas.forEach(pizzasValue => { %>
            <div class="container list-group">
                <div class="pizzas-value" data-id='<%=pizzasValue._id%>'><div class="list-group-item"><%= pizzasValue.name %></div>
                    <a class="pizzas-delete <%= pizzasValue._id %>">Delete</a>
                    <a class="pizzas-update <%= pizzasValue._id %>">Update</a>
                </div>
            </div>
        <% }) %> 
    <% } %>

    <script src="/main.js"></script>
</body>
</html>